services:
  react_front:
    build:
      context: ./react_front
      dockerfile: Dockerfile
    image: abdel11117/space-explorer:react_front_latest
    ports:
      - "${FRONT_PORT}:5173"
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - VITE_API_URL=http://localhost:${BACK_PORT}
    depends_on:
      - react_back_node
    restart: unless-stopped

  react_back_node:
    build:
      context: ./react_back_node
      dockerfile: Dockerfile
    image: abdel11117/space-explorer:react_back_node_latest
    ports:
      - "${BACK_PORT}:4000"
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - PORT=${BACK_PORT}
      - MONGODB_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${DATA_BASE_PASS}@db:27017/${BDD_NAME}
    depends_on:
      - db
    volumes:
      - ./react_back_node/image:/react_back_node/image
    restart: unless-stopped

  db:
    image: mongo:latest
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${DATA_BASE_PASS}
      - MONGO_INITDB_DATABASE=${BDD_NAME}
    volumes:
      - space-explorer-db:/data/db
    ports:
      - "${DB_PORT}:27017"
    restart: unless-stopped

volumes:
  space-explorer-db:
