version: 2.1

jobs:
  build_and_test_backend:
    docker:
      - image: cimg/node:18.17.0
    steps:
      - checkout
      - run:
          name: Install Backend Dependencies
          command: npm install --prefix react_back_node
      - run:
          name: Run Backend Tests
          command: npm run test --prefix react_back_node

  build_and_test_frontend:
    docker:
      - image: cimg/node:18.17.0
    steps:
      - checkout
      - run:
          name: Install Frontend Dependencies
          command: npm install --prefix react_front
      - run:
          name: Run Frontend Tests
          command: npm test --prefix react_front
      - run:
          name: Build Frontend
          command: npm run build --prefix react_front


  deploy_docker:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker: # démarre le daemon docker géré par CircleCI
          version: 20.10.18
      - run: |
          sudo apt-get update
          sudo apt-get install -y docker-ce-cli
      - run: echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
      - run: |
          TAG=${CIRCLE_SHA1:0:7}
          docker build -t $DOCKERHUB_USERNAME/space-explorer:$TAG .
          docker push $DOCKERHUB_USERNAME/space-explorer:$TAG
          docker tag  $DOCKERHUB_USERNAME/space-explorer:$TAG $DOCKERHUB_USERNAME/space-explorer:latest
          docker push $DOCKERHUB_USERNAME/space-explorer:latest

  deploy_with_vps:
    machine:
      image: ubuntu-2204:2022.10.2
    steps:
      - checkout
      - run:
          name: Connect to VPS
          command: ssh $HOST_VPS@$IP_VPS 'echo "✅ Connexion au VPS réussie"'
      - run:
          name: Navigate to project directory
          command: ssh $HOST_VPS@$IP_VPS 'cd Space_Explorer_V2/'
      - run:
          name: Pull latest code
          command: ssh $HOST_VPS@$IP_VPS 'cd Space_Explorer_V2/ && git pull'
      - run:
          name: Stop existing containers
          command: ssh $HOST_VPS@$IP_VPS 'cd Space_Explorer_V2/ && docker compose down --volumes --remove-orphans'
      - run:
          name: Clean up Docker resources
          command: ssh $HOST_VPS@$IP_VPS 'docker container prune -f && docker image prune -f'
      - run:
          name: Build Docker images
          command: ssh $HOST_VPS@$IP_VPS 'cd Space_Explorer_V2/ && docker compose build --no-cache'
      - run:
          name: Deploy production containers
          command: ssh $HOST_VPS@$IP_VPS 'cd Space_Explorer_V2/ && docker compose -f docker-compose.prod.yml up -d'

workflows:
  build_and_test_workflow:
    jobs:
      - build_and_test_backend
      - build_and_test_frontend
      - deploy_docker:
          requires: 
            - build_and_test_frontend
      - deploy_with_vps:
          requires:
            - build_and_test_frontend
            - deploy_docker