version: 2.1

jobs:
  build_and_test_backend:
    docker:
      - image: cimg/node:18.17.0
    steps:
      - checkout
      - run:
          name: Install Backend Dependencies
          command: npm install --prefix react_back_node
      - run:
          name: Run Backend Tests
          command: npm run test --prefix react_back_node

  build_and_test_frontend:
    docker:
      - image: cimg/node:18.17.0
    steps:
      - checkout
      - run:
          name: Install Frontend Dependencies
          command: npm install --prefix react_front
      - run:
          name: Run Frontend Tests
          command: npm test --prefix react_front
      - run:
          name: Build Frontend
          command: npm run build --prefix react_front


  deploy_docker:
    docker:
      - image: cimg/node:18.17.0
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.7
          docker_layer_caching: true
      - run:
          name: Login to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
      - run:
          name: Build and Push Docker Images
          command: |
            docker-compose build
            docker-compose push

  deploy_with_vps:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run:
          name: Login into VPS server
          command: |
            ssh $HOST_VPS@$IP_VPS 'cd Space_Explorer_V2/ && git pull && docker compose down --volumes --remove-orphans && docker container prune -f && docker image prune -f && docker compose build --no-cache && docker compose -f docker-compose.prod.yml up -d'

workflows:
  build_and_test_workflow:
    jobs:
      - build_and_test_backend
      - build_and_test_frontend
      - deploy_docker:
          requires: 
            - build_and_test_frontend
      - deploy_with_vps:
          requires:
            - build_and_test_frontend
            - deploy_docker